<div class="container" id="bubbles">
        <!-- <div id="bubbles"> -->
                <div class="bubble x1"><img src="assets/Html5-logo.png" alt=""></div>
                <div class="bubble x2"><img src="assets/CSS3-logo.png" alt=""></div>
                <div class="bubble x3"><img src="assets/js-logo.png" alt=""></div>
                <div class="bubble x4"><img src="assets/angular2-logo.png" alt=""></div>
                <div class="bubble x5"><img src="assets/angularjs-logo.png" alt=""></div>
                <div class="bubble x6"><img src="assets/git-logo.png" alt=""></div>
                <div class="bubble x7"><img src="assets/Ajax-logo.png" alt=""></div>
                <div class="bubble x8"></div>
                <div class="bubble x9"></div>
                <div class="bubble x10"></div>
                <div class="bubble x11"></div>
                <div class="bubble x12"></div>
                <div class="bubble x13"></div>
                <div class="bubble x14"></div>
                <div class="bubble x15"></div>
        <!-- </div> -->
    <div class="row well">
        <div class="col-xs-12 col-md-12" class="type-js headline">
            <h2 aria-label="Skills">
                <span class="band" style="opacity: 1;">S</span>
                <span class="band" style="opacity: 1;">k</span>
                <span class="band" style="opacity: 1;">i</span>
                <span class="band" style="opacity: 1;">l</span>
                <span class="band" style="opacity: 1;">l</span>
                <span class="band" style="opacity: 1;">s</span>
            </h2>
            <p class="text-js">Expertise in developing top-notch web applications and front-end development. HTML, CSS, JS(ES5, ES6), Angular, custom layouts, features. <br>
            I work as a senior developer. I have also some experience in Node.js, Mongo DB.
            </p>
        </div>
    </div>
        <!-- FIRST ROW -->
    <div class="row">
      <div class="col-md-4 col-sm-6">
          <h4 style="text-align: center; padding: 20px; font-family: 'Russo One', sans-serif;">ANGULAR 2</h4>
          <div class="progress red">
              <span class="progress-left">
                  <span class="progress-bar"></span>
              </span>
              <span class="progress-right">
                  <span class="progress-bar"></span>
              </span>
              <div class="progress-value">
                  <img class="image1" src="assets/angular2-logo.png" alt="angular2 logo">
              </div>
          </div>
      </div>
      <div class="col-md-4 col-sm-6">
            <h4 style="text-align: center; padding: 20px; font-family: 'Russo One', sans-serif;">ANGULAR JS</h4>
          <div class="progress palered">
              <span class="progress-left">
                  <span class="progress-bar"></span>
              </span>
              <span class="progress-right">
                  <span class="progress-bar"></span>
              </span>
              <div class="progress-value">
                <img class="image1" src="assets/angularjs-logo.png" alt="css3 logo">
              </div>
          </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <h4 style="text-align: center; padding: 20px; font-family: 'Russo One', sans-serif;">AJAX</h4>
        <div class="progress ajax">
            <span class="progress-left">
                <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                <span class="progress-bar"></span>
            </span>
            <div class="progress-value">
            <img class="image1" src="assets/Ajax-logo.png" alt="Ajax logo">
            </div>
        </div>
    </div>
  </div>
        <!-- SECOND row -->
  <div class="row">
      <div class="col-md-4 col-sm-6">
          <h4 style="text-align: center; padding: 20px; font-family: 'Russo One', sans-serif;">HTML 5</h4>
          <div class="progress yellow">
              <span class="progress-left">
                  <span class="progress-bar"></span>
              </span>
              <span class="progress-right">
                  <span class="progress-bar"></span>
              </span>
              <div class="progress-value">
                  <img src="assets/Html5-logo.png" alt="html5 logo">
              </div>
          </div>
      </div>
      <div class="col-md-4 col-sm-6">
            <h4 style="text-align: center; padding: 20px; font-family: 'Russo One', sans-serif;">CSS 3</h4>
          <div class="progress blue">
              <span class="progress-left">
                  <span class="progress-bar"></span>
              </span>
              <span class="progress-right">
                  <span class="progress-bar"></span>
              </span>
              <div class="progress-value">
                <img src="assets/CSS3-logo.png" alt="css3 logo">
              </div>
          </div>
      </div>
      <div class="col-md-4 col-sm-6">
            <h4 style="text-align: center; padding: 20px; font-family: 'Russo One', sans-serif;">JAVACSRIPT</h4>
        <div class="progress pink">
            <span class="progress-left">
                <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                <span class="progress-bar"></span>
            </span>
            <div class="progress-value">
                <img src="assets/js-logo.png" alt="javascript logo">
            </div>
        </div>
    </div>
  </div>
  <!-- second line starts here -->


  <div class="row">
        <div class="col-md-4 col-sm-6">
            <h4 style="text-align: center; padding: 20px; font-family: 'Russo One', sans-serif;">BOOTSTRAP</h4>
            <div class="progress navyblue">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">
                    <img class="image1" src="assets/bootstrap.logo.png" alt="bootstrap logo">
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
              <h4 style="text-align: center; padding: 20px; font-family: 'Russo One', sans-serif;">JQUERY</h4>
            <div class="progress violet">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">
                  <img class="image1" src="assets/jquery-logo.png" alt="jquery logo">
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <h4 style="text-align: center; padding: 20px; font-family: 'Russo One', sans-serif;">GIT</h4>
        <div class="progress mixed">
            <span class="progress-left">
                <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                <span class="progress-bar"></span>
            </span>
            <div class="progress-value">
                <img class="image1" src="assets/git1-logo.gif" alt="git logo">
            </div>
        </div>
    </div>
    </div>
</div>